.word_card {
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    transition: background 200ms, border 200ms;
    border-radius: 5px;
    background-color: var(--card-back-color);
    color: var(--card-text-color);
    font-family: var(--font-mono);
    padding: 0.5rem;
    align-content: center;
    text-align: center;
    /*    width: 200px;*/
    min-width: 200px;
    font-size: 1rem;
    position: relative;
}

/* Show the tooltip when hovering */
.word_card:hover .tooltip {
    visibility: visible;
    opacity: 1; /* Fully visible */
}

/*.tooltip {
    visibility: hidden; !* Hidden by default *!
    width: 120px; !* Tooltip width *!
    background-color: black; !* Background color *!
    color: #fff; !* Text color *!
    text-align: center;
    border-radius: 5px; !* Rounded corners *!
    padding: 5px 0;
    position: absolute; !* Position it relative to the tooltip container *!
    z-index: 1;
    bottom: -75%; !* Position it above the text *!
    left: 30%;
    !* Centers the tooltip *!
    opacity: 0; !* Fully transparent by default *!
    transition: opacity 0.3s; !* Fade-in effect *!
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%; !* At the top of the tooltip *!
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; !* Arrow pointing up *!

}*/


/*.card.flipped {
    transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg); !* IE 9 *!
    -moz-transform: rotatex(-180deg); !* Firefox *!
    -webkit-transform: rotatex(-180deg); !* Safari and Chrome *!
    -o-transform: rotatex(-180deg); !* Opera *!
}

.card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}


.card .side {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    backface-visibility: hidden; !* W3C *!
    -webkit-backface-visibility: hidden; !* Safari & Chrome *!
    -moz-backface-visibility: hidden; !* Firefox *!
    -ms-backface-visibility: hidden; !* Internet Explorer *!
    -o-backface-visibility: hidden; !* Opera *!
    !*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*!
    overflow: auto;
}

.card .back {
    background: #3da35d;
    color: white;
    transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg); !* IE 9 *!
    -moz-transform: rotatex(-180deg); !* Firefox *!
    -webkit-transform: rotatex(-180deg); !* Safari and Chrome *!
    -o-transform: rotatex(-180deg); !* Opera *!
}*/


/* FlipCard 2*/
.flipCard {
    /*width: 200px;*/
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.flipCard:hover .cardFront {
    border: 1px solid var(--card-border-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;

}

.marked {
    position: absolute;
    right: -10px;
    top: -10px;
}

/*.flipCard .marked_correct {
    border: 1px solid #058c42;
}

.flipCard .marked_incorrect {
    border: 1px solid #ff5555;
}*/

.flipCard.flipped .cardFront {
    transform: rotateX(-180deg);
    cursor: pointer;
}

.flipCard.flipped .cardBack {
    transform: rotateX(0deg);
}


.cardFront {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    /*transition: background 200ms, border 200ms;*/
    border-radius: 5px;
    background-color: var(--card-front-back-color);
    color: var(--card-front-text-color);
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    min-height: 3rem;
    align-content: center;
}

.cardBack {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: 5px;
    background-color: var(--card-back-back-color);
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: var(--card-back-text-color);
    text-align: center;
    min-height: 3rem;
    align-content: center;
}


.selector {

    /* styling */
    background-color: var(--selector-back-color);
    border: thin solid rgba(var(--card-border-rgb), 0.15);
    border-radius: var(--border-radius);
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
    color: var(--selector-text-color);

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--selector-focus-color);
}


.selector:focus {
    background-image: linear-gradient(45deg, var(--selector-focus-color) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--selector-focus-color) 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    border-color: var(--selector-focus-color);
    outline: 0;
}


.selector:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* Adding some text for labels */
.label {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.switch_field {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

.switch_field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch_field label {
    background-color: var(--switch-back-color);
    color: var(--switch-text-color);
    font-size: 14px;
    text-align: center;
    padding: 8px 8px;

    align-content: center;
    min-width: 100px;
}

.switch_field label:hover {
    cursor: pointer;
}


.switch_field input:checked + label,
.switch_field.image_toggle input:checked + label.theme_label {
    background-color: var(--switch-checked-label-back-color);
    color: var(--switch-checked-label-text-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.24), inset 0 1px 2px rgba(0, 0, 0, 0.48);

}

.switch_field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch_field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch_field label.theme_label {
    min-width: 3rem;
}

.image_toggle {
    margin-left: auto;
    margin-right: 1rem;
}

.image_toggle label {
    min-width: 0;
}

.progress_wrapper {
    display: flex;
    flex-direction: row;
    /*   border: 1px solid rgba(var(--card-border-rgb), 0.15);
       border-radius: 5px;*/
    align-items: stretch;
    /*  background-color: #cce6f4;*/
    flex: 2;
    padding: 1rem;
    width: 100%;
}

.progress_correct {
    border-bottom: 2px solid var(--progress-correct-color);
    color: var(--progress-correct-color);
    text-align: center;
    align-content: center;
    padding: 0.1rem;
    /*   border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;*/
}

.progress_correct:hover {
    cursor: pointer;
    /* transform: scale(0.95) translateY(3px); */
    box-shadow: -1px -1px 1px var(--progress-correct-color);
    background-color: var(--progress-correct-color);
    color: white;
    /*    box-shadow: inset 1px 1px 1px var(--progress-correct-color);
        transform: translateY(1px);
        background-color: var(--progress-correct-color);
        color: white;*/
}

.progress_correct.correct_filtered {
    box-shadow: inset 1px 1px 1px var(--progress-correct-color);
    /* transform: translateY(1px);*/
    background-color: var(--progress-correct-color);
    color: white;
}

.progress_incorrect {
    border-bottom: 2px solid var(--progress-incorrect-color);
    color: var(--progress-incorrect-color);
    text-align: center;
    align-content: center;
    padding: 0.1rem;
    /* border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;*/
}

.progress_incorrect:hover {
    cursor: pointer;
    /*  transform: scale(0.95) translateY(3px); */
    box-shadow: -1px -1px 1px var(--progress-incorrect-color);
    background-color: var(--progress-incorrect-color);
    color: white;
}

.progress_incorrect.incorrect_filtered {
    box-shadow: inset 1px 1px 1px var(--progress-incorrect-color);
    /* transform: translateY(1px);*/
    background-color: var(--progress-incorrect-color);
    color: white;
}

.progress_total {
    border-bottom: 2px solid var(--progress-total-color);
    color: var(--progress-total-color);

    text-align: center;
    padding: 0.5rem;
}


.tab {
    display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}

.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
}

.tab:checked + label {
    background-color: var(--tab-container-back-color);
    box-shadow: 0 -1px 0 var(--tab-container-back-color) inset;
    cursor: default;
    border-top: 3px solid var(--switch-border-color);
}

.tab:checked + label:hover {
    box-shadow: 0 -1px 0 var(--tab-container-back-color) inset;
    background-color: var(--tab-container-back-color);
}

.tab:checked + label .tab_text {
    color: var(--nav-menu-item-selected-color);
    /*border-bottom: 1px solid var(--nav-menu-item-selected-color);*/
}

.tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: var(--border-radius) 0 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: var(--tab-item-back-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;

    box-sizing: border-box;
    padding: 0.5rem;
}

.tab_text {
    color: var(--tab-item-color);
}

.tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
    border-top: 3px solid var(--tab-item-hover-color);
}

.tab + label:hover .tab_text {
    /*  border-bottom: 1px solid var(--menu-label-border-color);*/
}

.tab_icon {
    color: var(--tab-icon-color);
}

@media (max-width: 768px) {

    .flipCard {
        /* width: 150px;*/
        flex-basis: 33%;
    }

    .word_card {
        width: 150px;
    }
}

@media (max-width: 500px) {
    .flipCard {
        /* width: 100px;*/
        flex-basis: 100%;
    }

    .word_card {
        width: 100px;
    }
}
